
<div class="optionsContainer">
    <router-outlet>
    </router-outlet>
    <a routerLink="/home">Home</a>

    <router-outlet>
    </router-outlet>
    <a routerLink="/processOrders">Orders</a>
    <div class="logout">
    <button (click)="logout()">Logout</button>
    </div>
</div>

<div class="menuContainer">


    <div class="menuTable">
        <div class="welcome">
    <p>Welcome to FSD cafe employee portal</p>
        </div>
    <table border="1" class="menuTable">
        <thead>
            <tr>
                <th scope="col">Item Name</th>
                <th scope="col">Item Price</th>
                <th scope="col">Item category</th>
                <th scope="col">Veg or Non-Veg</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of menu; index as i;">
                <td>
                    <input type="text" value={{item.itemName}}  #itemName>
                </td>
                <td>
                    
                    <input type="text" value={{item.itemPrice}}  #itemPrice>
                
                </td>
                <td>
                    <input type="text" value={{item.itemCategory}}  #itemCategory>
                </td>
                <td>
                    
                    <input type="text" value={{item.vegOrNonVeg}}  #vegOrNonVeg>
                
                </td>
                <td>
                    <button (click)="updateItem(i,itemName.value,itemPrice.value,itemCategory.value,vegOrNonVeg.value)">Update Item</button>
                    <button (click)="deleteFromMenu(i)">Delete Item</button>
                </td>
            </tr>
        </tbody>
    </table>
    </div>

    <div class="addToMenuContainer">

        <p style="margin: 50px;text-align: center;">Add Item to Menu</p>
        <form [formGroup]="menuFormGroup" (ngSubmit)="addItemToMenu()">

            <label for="itemName">Item Name:</label>
            <input #itemName type="text" formControlName="itemName">
            <label for="itemPrice">Item Price:</label>
            <input #itemPrice type="number" formControlName="itemPrice">
            <br>
            <label for="itemCategory">Item Category:</label>
            <input #itemCategory type="text" formControlName="itemCategory">
            <label for="itemCategory">Veg or Non-Veg:</label>
            <input #vegOrNonVeg type="text" formControlName="vegOrNonVeg">
            <br><br>
            <button type="submit">Add to Menu</button>
        </form>
    </div>
</div>


