<div class="menuContainer" style="display: inline-block;float: left; margin: 50px;">


    <p>Welcome to FSD cafe employee portal</p>


    <table border="1">
        <thead>
            <tr>
                <td>Item Name</td>
                <td>Item Price</td>
                <td>Item category</td>
                <td>Veg or Non-Veg</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of menu; index as i;">
                <td>
                    <input type="text" value={{item.itemName}}  #itemName>
                </td>
                <td>
                    
                    <input type="text" value={{item.itemPrice}}  #itemPrice>
                
                </td>
                <td>
                    <input type="text" value={{item.itemCategory}}  #itemCategory>
                </td>
                <td>
                    
                    <input type="text" value={{item.vegOrNonVeg}}  #vegOrNonVeg>
                
                </td>
                <td>
                    <button>Update Item</button>
                    <button (click)="deleteFromMenu(i)">Delete Item</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<router-outlet>
</router-outlet>
<a routerLink="/home">Home</a>
