<div class="loginContainer" style="text-align: center;">
    <form [formGroup]="login" (ngSubmit)="onLogin()">

        <div class="form-group">
            <label for="name">User name (Email-Id): </label>
            <input type="email" name="userName" #name formControlName="username" style="margin: 16px;">
        </div>


        <br>
        <div class="form-group">
            <label for="password">Password: </label>
            <input type="password" name="password" #password formControlName="password" style="margin: 16px;">
        </div>
        <br>
        <div class="form-group">
            <label for="role">Please select a role:</label>
            <input type="radio" name="role" value="EMPLOYEE" formControlName="role" style="margin: 16px;">Employee
            <input type="radio" name="role" value="CUSTOMER" formControlName="role" style="margin: 16px;">Customer
            <input type="radio" name="role" value="ADMIN" formControlName="role" style="margin: 16px;">Admin
        </div>
        <br>
        <div class="form-group">
        <button type="submit">Login</button>
        </div>
        <br>
        <router-outlet></router-outlet>
        <a routerLink="/home" style="margin: 16px;">Home</a>
        <router-outlet></router-outlet>
        <a routerLink="/signup">Sign Up</a>
        <router-outlet></router-outlet>
    </form>
</div>