<div class="loginContainer">
    <form [formGroup]="login" (ngSubmit)="onLogin()">

        <div class="name-group">
            <label for="name">User name (Email-Id): </label>
            <input type="email" name="userName" #name formControlName="username">

        <div *ngIf="f['username'].touched && f['username'].invalid" class="alert alert-danger">
            <div *ngIf="f['username'].errors && f['username'].errors['required']" style="color: red;">Please provide Username</div>
            <div *ngIf="f['username'].errors && f['username'].errors['email']" style="color: red;">Invalid Username</div>
        </div>
        </div>


        <br>
        <div class="password-group">
            <label for="password">Password: </label>
            <input type="password" name="password" #password formControlName="password">
        </div>
        <div *ngIf="f['password'].touched && f['password'].invalid" class="alert alert-danger">
        <div *ngIf="f['password'].errors && f['password'].errors['required']" style="color: red;">Please provide password</div>
        <div *ngIf="f['password'].errors && f['password'].errors['minlength']" style="color: red;">Password should be atleast 7 characters long</div>
        </div>
        <br>
        <div class="role-group">
            <label for="role">Please select a role:</label>
            <input type="radio" name="role" value="EMPLOYEE" formControlName="role">Employee
            <input type="radio" name="role" value="CUSTOMER" formControlName="role">Customer
        </div>
        <br>
        <div class="form-group">
        <button [disabled]="login.invalid" type="submit">Login</button>
        </div>
        <br>
        <router-outlet></router-outlet>
        <a routerLink="/home">Home</a>
        <router-outlet></router-outlet>
        <a routerLink="/signup">Sign Up</a>
        <router-outlet></router-outlet>
    </form>
</div>