/* Options Container */
.optionsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
}

.optionsContainer a {
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 5px;
    color: #4caf50;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.optionsContainer a:hover {
    background-color: #f2f2f2;
}

.optionsContainer button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.optionsContainer button:hover {
    background-color: #45a049;
}

/* Menu Container */
.menuContainer {
    padding: 20px;
}

.menuContainer p {
    font-size: 20px;
    margin-bottom: 20px;
}

.menuContainer table {
    width: 100%;
    border-collapse: collapse;
}

.menuContainer table td,
.menuContainer table th {
    padding: 10px;
    border: 1px solid #ddd;
}

.menuContainer table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.menuContainer input[type="number"] {
    width: 60px;
    padding: 4px;
    margin-right: 10px;
    border: 1px solid #ddd;
}

.menuContainer button {
    padding: 6px 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.menuContainer button:hover {
    background-color: #0056b3;
}

.welcome{
    font-weight: bold;
    font-style: italic;
    text-align: center;
}
