
<div class="optionsContainer">
    <router-outlet></router-outlet>
    <a routerLink = '/home'>Home</a>

    <button (click)="logout()">Logout</button>
</div>
<div class="orderContainer">
    <div class="orderTables">

        <li *ngFor="let order of orderList; index as i">
            <table border="1">
                <thead>
                    <tr>
                        <th>Item name</th>
                        <th>Item Price</th>
                        <th>Quantity</th>
                        <th>Total Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let orderItem of order.orderItemList">
                        <td>{{orderItem.itemName}}</td>
                        <td>{{orderItem.itemPrice}}</td>
                        <td>{{orderItem.quantity}}</td>
                        <td>{{orderItem.totalPrice}}</td>
                    </tr>
                </tbody>
            </table>
            <button [disabled]="order.orderStatus != 'INPROGRESS'">Cancel Order</button>
        </li>
    </div>
</div>